extends ../layouts/default
include ../mixins/circle
include ../mixins/modal
block css
    link(rel='stylesheet', type='text/css', href='/styles/members.css')
    link(rel='stylesheet', type='text/css', href='/lib/ihover.css')
block intro
    -var title='智能媒体计算实验室'
    -var text='中国传媒大学存储实验室长期从事信息存储的理论研究和网络存储技术开发，和国家信息中心合建存储技术工程中心，和声讯公司、中科院声学所合建安防大数据北京市重大实验室，系存储产业技术创新战略联盟首批成员单位,海量存储标准工作委员会成员单位。'
    +introduction(title, text)
block slogan
    h2
        | Texts, images, videos, we processe everthing.
block content
    
    
    .row.neo-members
        .col.l12
            +circle(teachers, '教师',['neo-member-teacher', 'effect13'])
        
        .col.l12
            +circle(students, '在读', ['neo-member-student','effect13'])
        
        .col.l12
            +circle(graduated, '毕业', ['neo-member-graduated','effect13'])
block modal
    +modal('memberModal')
block js
     script(type='text/javascript').
      $(document).ready(function(){
                $('a.neo-member').bind('click',function () {
                                  //从元素返回数据
						         var id=$(this).data('member');
                                 //从数据库中获取数据并给回调函数处理
		        $.getJson('/ajax/member/:'+id,function(data){
					 			     var memberDiv=$('#memberModal');
			                         memberDiv.find('p').html('data.bio');
                                     memberDiv.find('a.btn-flat')attr("herf",data.weibo)
				 //}	
				}
	
                }
        