extends ../layouts/default
include ../mixins/posts_sidemenu
include ../mixins/post
block content
    .row
        .col.s12.m12.l2#postsMenu
            - var categoryItem = {name:'类别', icon:'toc', subitems: categories};
            - var archiveItem = {name:'归档', icon:'today', subitems: archives};
            - var recentItem = {name:'最新', icon:'whatshot', subitems: recent};
            p=categories[0].name
            +posts_sidemenu([recentItem, archiveItem, categoryItem])
        .col.s12.m12.l10
            -var postStyles=['post']
            +post(posts,postStyles)
block js
     script(type='text/javascript', src='/js/post.js')
