extends ../layouts/researchdefault
block content
    .row
        .col.s12.m12.l2#postsMenu
            - var categorie = {name:'类别', icon:'toc', id:'researchCategory'};
            - categorie.subdirectory=categories;
            - var archive = {name:'归档', icon:'today', id:'researchArchive'};
            - archive.subdirectory=[{name:'draft',name_c:'计划'},{name:'archived',name_c:'进行'},{name:'published',name_c:'完成'}];              
            - var date = {name:'时间', icon:'whatshot', id:'researchDate'};
            - date.subdirectory=archives;          
            +sidemenu([categorie,archive,date])
            //p=archives[0].total        
        .col.s12.m12.l10
            +card(researches)
        .row.right
            +pagination(null,null,postStyles)

block js
     script(type='text/javascript', src='/js/researches.js')