extends ../layouts/researchdefault
include ../mixins/researchslider
include ../mixins/card
include ../mixins/sidemenu

block content
    .row
        .col.s12.m12.l2#postsMenu
            - var categorie = {name:'类别', icon:'toc', id:'researchCategory'};
            - categorie.subdirectory=categories;
            - var archive = {name:'归档', icon:'today', id:'researchArchive'};
            - archive.subdirectory=[{name:'draft',name_c:'计划'},{name:'archived',name_c:'进行'},{name:'published',name_c:'完成'}];            
            - var date = {name:'时间', icon:'whatshot', id:'researchDate'};
            - date.subdirectory=archives;          
            +sidemenu([categorie,archive,date])
        .col.s12.m12.l10
            .col-md-5
                +researchslider(researches)
            .col-md-5
                h1 #{researches[0].title}

block js
     script(type='text/javascript', src='/js/researches.js')
     script(type='text/javascript').
            $(document).ready(function(){
            $('.slider').slider({full_width: true});
            });
        