extends ../layouts/default
include ../mixins/resource
block content
    .row
        .col.l12#resources
            - var articles = {name:'论文', icon:'receipt', id:'articles'};
            - var images = {name:'图片', icon:'perm_media', id:'images'};
            - var videos = {name:'视频', icon:'video_library', id:'videos'};
            - var codes = {name:'代码', icon:'web', id:'codes'};
            +resource([articles, images, videos, codes])