mixin activites_obj(name,des)
    .row
      .col-sm-6.col-md-4
          img(src='images/activity/activity1.png', alt='')
      .col-sm-6.col-md-8
	   .caption
          h3 #{name}
          p #{des}
          