mixin hot_news()
	.row.grid
		.col.s12.m12.l6.big-news
			figure.effect-sarah
				img(src='images/home/cuc-0.jpg', alt='img12')
				figcaption
					div
						h2
						| Nice 
						span Lily
						p Lily likes to play with crayons and pencils
					a(href='#') View more
		.col.s12.m12.l6
			.col.s12.m6.l6.news
				figure.effect-lily
					img(src='images/home/cuc-1.jpg', alt='img1')
					figcaption
						div
							h2
							| Nice 
							span Lily
							p Lily likes to play with crayons and pencils
						a(href='#') View more
			.col.s12.m6.l6.news
				figure.effect-lily
					img(src='images/home/cuc-2.jpg', alt='img1')
					figcaption
						div
							h2
							| Nice 
							span Lily
							p Lily likes to play with crayons and pencils
						a(href='#') View more
			.col.s12.m6.l6.news
				figure.effect-lily
					img(src='images/home/cuc-2.jpg', alt='img1')
					figcaption
						div
							h2
							| Nice 
							span Lily
							p Lily likes to play with crayons and pencils
						a(href='#') View more
			.col.s12.m6.l6.news
				figure.effect-lily
					img(src='images/home/cuc-2.jpg', alt='img1')
					figcaption
						div
							h2
							| Nice 
							span Lily
							p Lily likes to play with crayons and pencils
						a(href='#') View more