mixin members_info(name,info,avatar)
    .row
      .col-sm-6.col-md-3
        .thumbnail
          img(src='images/avatar.png', alt='')
        .caption
          h3 #{name}
          p #{info}
          p
            a.btn.btn-primary(href='#', role='button')
              | 按钮
            a.btn.btn-default(href='#', role='button')
              | 按钮
      


           