mixin modal(id)
	.modal.modal-fixed-footer(id=id)
		.modal-conten
			h5 个人简历:
			div(id='bio') 个人简历具体内容
			h5 相关科研项目:
			div(id='achievements') 与个人相关的科研项目
			h5 个人社交网络:
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(id='weibo',href='#!') 微博
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(id='website',href='#!') 个人网站
