mixin modal(id)
    .modal.modal-fixed-footer(id=id)
        .modal-conten
            ul.collection.with-header
                li.collection-header
                    h5 个人简历
                        i.material-icons.left perm_identity                     
                li.collection-item(id='bio') 个人简历具体内容
                li.collection-header
                    h5 获奖情况
                        i.material-icons.left grade
                li.collection-item(id='achievements') 个人的获奖情况
                li.collection-header
                    h5 个人社交网站
                        i.material-icons.left person_pin
                li.collection-item
                    div
                        | 微博
                        a.secondary-content(id='weibo',href='#!')
                            i.material-icons send
                li.collection-item
                    div
                        | 个人网站
                        a.secondary-content(id='website',href='#!')
                            i.material-icons send
      