mixin paper(papers)
    if papers && papers.length
        //each paper in papers
            .row
                .card.z-depth-4
                   .card-content
                       span.card-title=paper.title
                        .card-action
                            a(target="_blank", href="#") 下载
        .collection
            each paper in papers       
                .collection-item=paper.title
                    if paper.file.filename
                        a.secondary-content(href = paper.file.dest + '/' + paper.file.filename).material-icons input
       