mixin paper(papers)
    if papers && papers.length
        //each paper in papers
            .row
                .card.z-depth-4
                   .card-content
                       span.card-title=paper.title
                        .card-action
                            a(target="_blank", href="#") 下载
        .collection
            each paper in papers       
                .collection-item=paper.title
                  a.secondary-content(href="#").material-icons input
       