mixin research_info(name,content)
    #test.row
      .col-sm-6.col-md-4
        .thumbnail
          img(src='images/research/test.jpg', alt='')
          .caption
            h3 #{name}
            p #{content}
            p
              a.btn.btn-primary(href='#', role='button') 链接
              a.btn.btn-default(href='#', role='button') 链接
