mixin resources_info(info)
    .row
      .col.s4
        .thumbnail
          img(src='images/resources/1.png', alt='')
      .col.s6
        p #{info}
      .col.s2
        p
          a.btn.btn-primary(href='#', role='button')
            | 下载
            
      


           