mixin sidemenu(menus)
	ul.collapsible(data-collapsible='accordion').popout
		each menu in menus
			li
				.collapsible-header
					i.material-icons=menu.icon
					=menu.name
				.collapsible-body(id=menu.id)
					.collection
						//只实现了动态载入，具体内容还需继续修改
						if menu.name=='类别'
							if !categories
								a.collection-item(href='#!') 空
							//each category in categories
								a.collection-item(href='#!')=category.name
						if menu.name=='归档'
							if !archives
								a.collection-item(href='#!') 空
							//each archive in archives
								//a.collection-item(href='#!')=archive.publishDate
						if menu.name=='最近'
							if !recents
								a.collection-item(href='#!') 空
							//each recent in recents
						