mixin sidemenu(menus)
	ul.collapsible(data-collapsible='accordion').popout
		each menu in menus
			li
				.collapsible-header
					i.material-icons=menu.icon
					=menu.name
				.collapsible-body(id=menu.id)
					.collection
						a.collection-item(href='#!') 条目1
						a.collection-item(href='#!') 条目2
						a.collection-item(href='#!') 条目3
						a.collection-item(href='#!') 条目4