mixin sidebar(categories, archives, recents)
	aside#sidebar
		.widget-wrap
				h3.widget-title
					a.category-list-link(href='/hexo-theme-alex/categories/About/') 目录
					
		.widget-wrap
			h3.widget-title 类别
			.widget
			ul.category-list
				each category in categories
					li.category-list-item
					a.category-list-link(href='/hexo-theme-alex/categories/About/')=category.name
					span.category-list-count ?
		.widget-wrap
			h3.widget-title 归档
			.widget
			ul.archive-list
				each archive in archives
					li.archive-list-item
					a.archive-list-link(href='/hexo-theme-alex/archives/2015/02/')=archive._id
					span.archive-list-count=archive.total
		.widget-wrap
			h3.widget-title 最近
			.widget
			ul
				each recent in recents
					li
					a(href='/hexo-theme-alex/2015/02/03/中文测试/')=recent.title