header
	nav.nav-header
		.nav-wrapper
			img(src="/images/logo/simple-red.png").neo-logo
			ul#nav-mobile.right.hide-on-med-and-down
				each link in navLinks
					li
						a(href=link.href)=link.label
