.neo-content{
	color: gray;
    padding-top: 90px !important;
    background-image: url("/images/background/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
	padding-bottom: 100px !important;
}
